
body {
    background: #f5f6fa;
font-family: 'Oswald', sans-serif;

    overflow: hidden;
}

/*.index {
    width: 100vw;
    height: 100vh;
}*/

.navbar {
    background: black !important;
}

.nav-link {
    color: #fff !important;
}

.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url('/img/background.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 5.5rem;
    }
  }




/* Estilos para la lista de tareas */
/*.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-block-end: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-item .task-details {
    display: flex;
    flex-direction: column;
}

.task-item .task-details h2 {
    margin-block-end: 5px;
}

.task-item .task-details p {
    margin-block-end: 0;
}

.task-item .task-actions {
    display: flex;
    align-items: center;
}

.task-item .task-actions button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-inline-start: 10px;
    cursor: pointer;
}

.task-item .task-actions button:hover {
    background-color: #3e8e41;
}
