<h1>Tareas</h1>
<form action="/tasks" method="post">
  <label for="nombre_tablero">Nombre del tablero:</label>
  <input type="text" name="nombre_tablero" required>
  
  <label for="circuito">Circuito:</label>
  <input type="text" name="circuito" required>
  
  <label for="lugar">Lugar:</label>
  <input type="text" name="lugar" required>
  
  <label for="fecha">Fecha:</label>
  <input type="date" name="fecha" required>
  
  <label for="descripcion">Descripción:</label>
  <textarea name="descripcion" required></textarea>

 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Tareas</title>
    <!-- BOOTSTRAP - BOOTSWATCH THEME - COSMOS -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
   <!--Hoja de estilo-->
  <link rel="stylesheet" type="text-css" href="/css/style.css">
</head>
<body>